nav{
	position: fixed;
	left: 0;
	top: 0;
	width: 80px;
	height: 100vh;
	background: #393a56;
}


nav .logo-block{
	height: 65px; /* header-height */
	background: #713cc0;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav .logo-block h1{
	color: #fff;
	font-size: 1.5rem;
}


nav .menu-block{
	padding: 2rem 0 0;
}

nav .menu-block .item{
	padding: 1rem 0;
	text-align: center;
	color: #fff;
}

nav .menu-block .item a svg:last-child{
	display: none;
}
nav .menu-block .item a.active svg:first-child{
	display: none;
}
nav .menu-block .item a.active svg:last-child{
	display: inline-block;
}