
.modal-header{ padding:0.75rem 0; box-shadow: 0px 3px 0px #eee;}
.modal-header.space-between{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-header .close-btn{
	font-size: 1rem;
	color: #999;
}

.markdown pre{
	overflow: auto;
	max-width: 1020px;
	max-height: 500px;
	background: #383838;
	padding: 0.5rem;
	line-height: 1.2;
}
.markdown pre [class^="language"]{
	color: #fff;
}
.markdown pre .hljs-tag{
	color: #fff;
}
.markdown pre .hljs-params{
	color: #fff;
}

.markdown p code{ padding: 0.25rem 0.5rem; background: #eee; border-radius: 5px; font-size: 0.75rem; }


.markdown>*:not(hr){
	margin: 1rem 0;
	line-height: 1.5;
}
.markdown :is(ul,ol,p){
	line-height: 1.7;
}
.markdown>*:first-chidl{
	padding-top: 0;
}
.markdown>ul{
	padding: 0.5rem 0;
}

.markdown h1{ font-size: 2rem;  border-bottom: 1px solid #eee;  }
.markdown h2{ font-size: 1.75rem;  border-bottom: 1px solid #eee;  }
.markdown h3{ font-size: 1.5rem; }
.markdown h4{ font-size: 1.25rem; }
.markdown h5{ font-size: 1rem; }
.markdown h6{ font-size: 0.75rem; }

.markdown blockquote{ border-left: 3px solid #ccc; padding-left: 0.75rem; }


.markdown li{ line-height: 1.75; }
.markdown ol li{
    list-style-type: decimal;
}
.markdown ul li{
	list-style-type: disc;
}
.markdown ol,
.markdown ul{
	padding-left: 1.75rem;
}
.markdown table{
	border-collapse: collapse;
}
.markdown table th{
	border: 1px solid #eee;
	padding: 0.6rem 1rem;
}
.markdown table td{
	padding: 0.5rem;
	border: 1px solid #eee;
}

.markdown tr:nth-child(2n) {
    background-color: #f6f8fa;
}